*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #212529;
}
.container{
    width: 1440px;
    border: 2px solid red;
    margin: 0 auto;
    text-align: center;
}
.text{
    color: white;
    margin: 40px 0;
}
.controls select{
    width: 210px;
    height: 36px;
    padding-left: 12px;
    border-radius: 8px;
}
.controls input{
    width: 210px;
    height: 36px;
    padding-left: 12px;
    border-radius: 8px;
}
.controls button{
    width: 210px;
    height: 36px;
    border-radius: 8px;
    background-color: #198754;
    color: white;
    border: none;
}
.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card{
    width: 250px;
    height: 380px;
    border-radius: 10px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.card div{
    background-color: red;
    color: white;
    margin-left: auto;
    margin-top:-18px;
    width: 36px;
    height: 34px;
    align-content: center;
    border-radius: 0 10px 0 0;
    font-weight: 800;
    font-size: 15.5px;
    line-height: 24px;
}
.card h2{
    background-color: rgba(196, 228, 255, 1);
    width: 129px;
    height: 40px;
    align-content: center;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.card h4{
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    color: rgba(128, 0, 124, 1);
    margin-top: -11px;
}
.card p{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: -11px;

}
